<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
	<link rel="stylesheet" href="style_bs3.css">
	<script src="vue_old.js"></script>
</head>

<body>
	<!-- Модальное окно:-->
	<div class="modal" id="r8calc-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Модальное окно</h4>
				</div>
				<div class="modal-body">
					<p>Здесь будет форма захвата</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Отправить</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- : Модальное окно -->

	<br>
	<section id="r8calc">

		<h1 class="text-center">{{header}}</h1>
		<p class="lead text-center"> {{message}} </p>

		<div class="container">
			<div class="row wrapp">
				<!-- ПЕРВЫЙ калькулятор -->
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 calc-box">
					<h3>{{header_1}}</h3>
					<div class="form form-horizontal">
						<div class="form-group">
							<label class="form-control-label">{{gabarit.title}}</label><br>
							<div class="row">
								<div class="col-sm-3">
									<input class="form-control" type="number" size="2" v-model.number="gabarit.w">
								</div>
								<div class="col-sm-1 text-center">
									<label class="form-control-label">x</label>
								</div>
								<div class="col-sm-3">
									<input class="form-control" type="number" v-model.number="gabarit.l">
								</div>
								<div class="col-sm-1 text-center">
									<label class="form-control-label">x</label>
								</div>
								<div class="col-sm-3">
									<input class="form-control" type="number" v-model.number="gabarit.h">
								</div>

								<!-- ??? -->
								<div class="col-sm-1 text-center" style="padding-left: 0; padding-right: 0">
									<i class="glyphicon glyphicon-question-sign" data-toggle="popover" data-content="Здесь будет подсказка"></i>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="form-control-label">{{etazhi.title}}</label><br>
							<label class="radio-inline" v-for="option in etazhi.options">
								<input type="radio" name="etazhi" v-bind:value=option.value v-model="etazhi.selected">{{option.text}}
							</label>
						</div>

						<div class="form-group">
							<label class="form-control-label">{{roof_form.title}}</label><br>
							<select class="form-control" v-model="roof_form.selected">
  							<option v-for="option in roof_form.options" v-bind:value="option.value">{{option.text}}</option>
							</select>
						</div>

						<div class="form-group">
							<label class="form-control-label">{{roof_type.title}}</label><br>
							<label class="radio-inline" v-for="option in roof_type.options">
								<input type="radio" name="roof_type" v-bind:value=option.value v-model="roof_type.selected">{{option.text}}
							</label>
						</div>

						<div class="form-group">
							<label class="col-sm-6 form-control-label" for="dostavka" style="padding-left: 0px">{{dostavka.title}}</label>
							<div class="col-sm-6 pull-left">
								<input class="form-control" type="number" v-model.number="dostavka.value">
							</div>
						</div>

					</div>
					<h3>Итого: {{Total_1}} руб.</h3>
				</div>
				<!-- : ПЕРВЫЙ калькулятор				-->

				<!-- ВТОРОЙ калькулятор -->
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 calc-box bordered">
					<h3>{{header_2}}:</h3>
					<div class="form form-horizontal">

						<div class="form-group">
							<label class="form-control-label">{{fundament_type.title}}</label><br>
							<select class="form-control" v-model="fundament_type.selected">
  							<option v-for="option in fundament_type.options" v-bind:value="option.value">{{ option.text }}</option>
							</select>
						</div>

						<div class="form-group">
							<label class="form-control-label">{{roof_cover.title}}</label><br>
							<select class="form-control" v-model="roof_cover.selected">
  							<option v-for="option in roof_cover.options" v-bind:value="option.value">{{ option.text }}</option>
							</select>
						</div>

						<div class="form-group">
							<label class="form-control-label">{{garag.title}}</label><br>
							<div class="row">
								<div class="col-sm-3">
									<input class="form-control" type="number" size="2" v-model="garag.w">
								</div>
								<div class="col-sm-1 text-center">
									<label class="form-control-label" for="garag2">x</label>
								</div>
								<div class="col-sm-3">
									<input class="form-control" type="number" v-model="garag.l">
								</div>
								<div class="col-sm-1 text-center">
									<label class="form-control-label" for="garag3">x</label>
								</div>
								<div class="col-sm-3">
									<input class="form-control" type="number" v-model="garag.h">
								</div>
								<!--	??? -->
								<div class="col-sm-1 text-center" style="padding-left: 0; padding-right: 0">
									<i class="glyphicon glyphicon-question-sign" data-toggle="popover" data-content="Здесь будет подсказка"></i>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="form-control-label">{{terrasa.title}}</label><br>
							<div class="row">
								<div class="col-sm-3">
									<input class="form-control" type="number" size="2" v-model="terrasa.w">
								</div>
								<div class="col-sm-1 text-center">
									<label class="form-control-label">x</label>
								</div>
								<div class="col-sm-3">
									<input class="form-control" type="number" v-model="terrasa.l">
								</div>
								<div class="col-sm-1 text-center">
									<label class="form-control-label">x</label>
								</div>
								<div class="col-sm-3">
									<input class="form-control" type="number" v-model="terrasa.h">
								</div>
								<div class="col-sm-1 text-center" style="padding-left: 0; padding-right: 0">
									<i class="glyphicon glyphicon-question-sign" data-toggle="popover" data-content="Здесь будет подсказка"></i>
								</div>
							</div>
						</div>


					</div>
					<h3>Итого: {{Total_2}} руб.</h3>
				</div>
				<!-- : ВТОРОЙ калькулятор				-->

				<!-- ТРЕТИЙ калькулятор -->
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 calc-box">
					<h3>{{header_3}}</h3>
					<div class="form form-horizontal">

						<div class="form-group">
							<label class="form-control-label">{{decoration_in.title}}</label><br>
							<select class="form-control" v-model="decoration_in.selected">
  							<option v-for="option in decoration_in.options" v-bind:value="option.value">{{ option.text }}</option>
							</select>
						</div>

						<div class="form-group">
							<label class="form-control-label">{{decoration_out.title}}</label><br>
							<select class="form-control" v-model="decoration_out.selected">
  							<option v-for="option in decoration_out.options" v-bind:value="option.value">{{ option.text }}</option>
							</select>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label for="doors">
									<input type="checkbox" id="doors" value="doors" v-model="doors.checked">{{doors.text}}
								</label>
							</div>
							<div class="checkbox">
								<label for="windows">
									<input type="checkbox" id="windows" value="windows" v-model="windows.checked">{{windows.text}}
								</label>
							</div>
							<div class="checkbox">
								<label for="stairs">
									<input type="checkbox" id="stairs" value="stairs" v-model="stairs.checked">{{stairs.text}}
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label for="project">
									<input type="checkbox" id="project" value="project" v-model="project.checked">{{project.text}}
								</label>
							</div>
						</div>

					</div>
					<h3>Итого: {{Total_3}} руб.</h3>
				</div>
				<!-- : ТРЕТИЙ калькулятор				-->

				<!--	ИТОГ: -->
				<div class="col-xs-12 total-box">
					<div class="col-sm-8">
						<h2>ИТОГО: {{Total_1 + Total_2 + Total_3}} руб.</h2>
					</div>
					<div class="col-sm-4 text-center">
						<a href="#r8calc-modal" data-toggle="modal" class="btn btn-primary btn-lg">Скачать смету</a>
					</div>
				</div>
				<!--	: ИТОГ -->

			</div>
		</div>
	</section>
	<br>
	<br>
	<br>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="script.js"></script>
</body>

</html>
