#r8calc {
	margin-top: 2em;
	font-size: 16px;
}

#r8calc .wrapp {
	border: 2px solid #1967BE;
}

#r8calc .bordered {
	border-left: 2px solid #1967BE;
	border-right: 2px solid #1967BE;
}

#r8calc .calc-box {
	padding-bottom: 1em;
	border-bottom: 2px solid #1967BE;
	height: 32em;
}

@media (max-width: 995px) {
	#r8calc .calc-box {
		height: auto;
	}
}

#r8calc .calc-box h3 {
	padding-bottom: 10px;
	font-weight: 400;
}

#r8calc .calc-box .form {
	padding: 1em 1em 0 1em;
	border-bottom: 1px solid #1967BE;
	border-top: 1px solid #1967BE;

}

#r8calc .calc-box .form .form-control {
	height: 2em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0;
}

#r8calc .calc-box .form .form-group .glyphicon {
	font-size: 1.4em;
	margin-top: 0.2em;
}

#r8calc .calc-box .form .form-group {
	margin-bottom: 1.2em
}

#r8calc .calc-box .form .radio-inline {
	padding-top: 0px;
}

#r8calc .total-box {
	/*	border: 1px solid grey;*/
	padding: 1em 0 1em 0;
}
